*{
  margin:0;
  padding:0;
  font-family: 'Cormorant', serif;
  
}
body{
  width: 100%;
  background-color: #efefefff;
}
/*---- HEADER---------*/
#navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}
/*---- TOP HEADER---------*/
.topHeader{
   position:fixed;
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items:center;
   padding: 1em;
}
.topHeader button{
   color: #efefefff;
   font-size: 2.8em;
   background-color: transparent;
   border: none;
   margin: 0 2em;
   text-shadow: 1px 1px 3px #000000;
}
.hBleft {
  margin: 0 3em ;
}
.hBleft img{
   width: 20em;
}
.hBright {
   margin: 0 3em ;
}
.hBright a{
   margin-left: 3em;
   text-shadow: .15em 1px 3px #000000;
}
 /*---- CENTER HEADER---------*/
 .video-container {
   position:absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: -1; /* Ensure video is behind other content */
 }
 #video-background {
   width: 100%;
   height: 100%;
   object-fit: cover; /
 }
 /*---- BOTTOM HEADER---------*/
 .bottomHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .hTblock{
   margin: 9em;
 }
 .hTitle {
   color: white;
   font-size: 7em;
 }
 .word1{
   width: 2em;
   margin-bottom:-.42em;
 }
 .word2{
   width:6.5em;
   margin-left:1em;
 }
 .h2Title {
   font-weight: 100;
   color: #efefefff;
   font-size: 4em;
   margin: -2em 0 0 9em;
  
 }
 .sBblock button{
   font-size: 1.2em;
   color: rgb(0,0,0);
   padding: 1.2em;
   margin: 5em 0 0 30em;
 }
 .sBblock button:hover{
   color: #efefefff;
   background-color:#800020;
   border: none;
 }






 /*------ Main ------*/
 main{
   margin: 400px 0;
 }
 /*------- Intro Block ---------*/
 .introBlock{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:8em;
 }
 .introBlockCenter{
  width: 100%;
  margin:10em 8em ;
 }
 .oTblock h1{
   color:#C9A9A6;
   font-size: 2.5em;
   margin-bottom: 2em;
 }
 .oTblock p{
   
   font-size: 1.6em;
   text-align: justify;
 }
 .lMbtn {
   color: #800020;
   font-weight: 600;
   font-size: 1.5em;
   margin: 4em  0;
 }
 .hands{
   width: 25em;
   height: 19em;
   margin-top:18em ;
   
 }
 .cup{
   width: 35em;
 
 }
/*------- Collection Block ---------*/ 
.collectionSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.collectionBlock{
  width: 100%;
  display: flex;
  justify-content: center;
  margin:5em 0;
  background: rgb(239,239,239);
  background: linear-gradient(0deg, rgba(239,239,239,1) 0%, #c9a9a6 50%, rgba(239,239,239,1) 100%);
}
.tLcontainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chair{
  width: 30em;
}
.tLcontainer p{
  text-align: justify;
  font-size: 1.3em;
  margin: 1em 0;
  width:40em;
}
.rb{
  display: flex;
  align-items: center;
  gap: 2em;
}

.tCcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -10em 0 0 -30em;
}
.tCtop{
  display: flex;
  align-items: flex-end;
  gap: 2em;
  
}



.tCcontainer h3{
  font-size: 2em;
}
.tCcontainer h1{
  color: #800020;
  font-size: 3em;
}
.tCcontainer p{
  font-size: 2em;
  font-size: 2.5em;
  text-align: justify;
  width: 20em;
  margin:1em 0;

}


.tRcontainer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: -5em 0 0 -10em ;
}
.lilypad{
  width: 15em;
}
.white{
  width: 17em;
  height: 24em;
}








/*------- Carousel Block ---------*/ 
.carousel{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vrmedia-gallery{
  display: flex;
  align-items: center;
  gap: 1em;
  margin:0 4em; 
}
.carousel-gallery{
  display: flex;
  gap: 10px;
}
ul {
  list-style-type: none;
}
.carousel-gallery a span{
  display: flex;
  justify-content: left;
  font-size: 17px;
}
.cImg{
  width: 30em;
}
.collectionBtn{
  display: flex;
  justify-content: center;
  margin: 2em;
}
.collectionBtn button{
  color: #800020;
  font-weight: 600;
  font-size: 32px;
   border: none;
  
}
.collectionBtn .fa-solid {
  font-size: 32px;
}


#four {
  display: none;
}
#five {
  display: none;
}
#six {
  display: none;
}
#seven {
  display: none;
}
#eight {
  display: none;
}
.arrows{
  width: 20px;
}

/*------- Build It Block ---------*/ 
.buildItblock{
  margin: 10em 0 ;
}
.bItext{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 2em;
}
.bItext h1{
  font-size:3em;
}
.bItext h3{
  font-size:2em;
}
.bIbanner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.model{
  width: 60em;
}
.bITags{
 display: flex;
 justify-content: space-evenly;
 margin: 3em;
}
.bITags a{
  color: #000000a0;
  font-size:30px ;
}
.bITags span{
  font-size:35px ;
 }
.bItBlock{
  display: flex;
  align-items: center;
  gap: 10px;
}
.bIlink{
  color: #800020;
  border: none;
  font-size:30px ;
  padding: 0 10px 0 0;
}
.line{
  width:auto;
  height: 2px;
  margin: 0 4em;
  background: #000000;
}

/*------- Weding Block ---------*/ 
.weddingBlock{
  background: rgb(239,239,239);
  background: linear-gradient(0deg, #efefef 0%, #c9a9a6 20%, #c9a9a6 90%, #efefef 100%); 
}
.weddingCollection{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 2em; 
}
.wBleft{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wBlImg{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wBlImg h2{
  font-size: 1.6em;
  letter-spacing: 0.3em;
  margin: 1em 0;
  font-weight: 100;
}
.wBlText button{
  margin: 1em 0;
  font-size: 25px;
  font-weight: 600;
  color: #800020;
  border: none;
  background-color: transparent;

}
.slanted-line {
  width: 1300px; /* Adjust as needed */
  height: 2px; /* Adjust thickness as needed */position: absolute;
  margin: -400px;
  background-color: black; /* Adjust color as needed */
  transform: rotate(-45deg); /* Adjust angle as needed */
}
.box{
  width: 250px; 
}
.wed{
  width: 600px;
}
/*------- Wholesale Block ---------*/ 
.wholesale{
  background-image: url("Images/brownring.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 10em 0;
}
.wSblock{
  display: flex;
  justify-content: space-evenly;
}
.wLeft{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 10em;
  
}
.wLeft h4{
  color: #efefef;
  font-size: 1.5em;
  margin: 0em 0 0 -15em;
}
.wLeft h1{
  color: #efefef;
  font-size: 4.5em;
  margin: 2em 0 -2em 0;
}
.wLeft span{
  font-weight: 600;
  color: #800020;
}
.wLeft button{
  color:#efefef;
  font-size: 2em;
  border: none;
  background-color: transparent;
}
.wRtop{
  display: flex;
  gap: 3em;
}
.wRight{
  display: flex;
  flex-direction: column;
  gap: 34em;
  justify-content: space-evenly;
}
.wRtop img{
  width: 200px;
}
.wRbottom img{
  width: 400px;
}

/*------- Footer Block ---------*/ 
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7em 15em -20em 15em;
}
.fSocialBlock{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}
.sBtext h1{
  font-size: 2em;
}
.sBtext h2{
  font-size: 1.5em;
}
.sBlinks a{
  display: flex;
  font-size: 1.3em;
  font-weight: 600;
  align-items: flex-start;
  text-decoration: none;
}
.tags a{
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  font-weight: 600;
  align-items: flex-start;
  text-decoration: none;
}
a:link {
  color: #000000;
}
a:visited {
  color:  #000000;
}
a:hover {
  color: #800020;
}
a:active {
  color:#C9A9A6;
}
/*------- PopUp Block ---------*/ 

@media(max-width:1966px){
/*---- TOP HEADER---------*/
 .topHeader button{
    font-size: 2em;
    margin: 0 .8em;
 }
 .hBleft img{
  width: 18em;
 }
/*------- Intro Block ---------*/
.introBlock{
  margin:6em;
}
.hands{
  width: 20em;
  height: 16em;
  margin-top:18em ;
}
.cup{
  width: 30em;
}
/*------- Collection Block ---------*/ 
.collectionSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.collectionBlock{
  width: 100%;
  display: flex;
  justify-content: center;
  margin:5em 0;
  background: rgb(239,239,239);
  background: linear-gradient(0deg, rgba(239,239,239,1) 0%, #c9a9a6 50%, rgba(239,239,239,1) 100%);
}
.tLcontainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chair{
  width: 30em;
}
.tLcontainer p{
  text-align: justify;
  font-size: 1.3em;
  margin: 1em 0;
  width:40em;
}
.rb{
  display: flex;
  align-items: center;
  gap: 2em;
}

.tCcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -10em 0 0 -30em;
}
.tCtop{
  display: flex;
  align-items: flex-end;
  gap: 2em;
  
}



.tCcontainer h3{
  font-size: 2em;
}
.tCcontainer h1{
  color: #800020;
  font-size: 3em;
}
.tCcontainer p{
  font-size: 2em;
  font-size: 2.5em;
  text-align: justify;
  width: 20em;
  margin:1em 0;

}


.tRcontainer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: -5em 0 0 -10em ;
}
.lilypad{
  width: 15em;
}
.white{
  width: 17em;
  height: 24em;
}






}
@media(max-width:1510px){
.topHeader button{
  font-size: 2em;
  margin: 0 1em;
}
 .hBright a{
  font-size: 1em;
}
/*------- Intro Block ---------*/
.introBlock{
  margin:2em;
}
.hands{
  width: 20em;
  height: 14em;
  margin-top:18em ;
}
.cup{
  width: 28em;
}
/*------- Collection Block ---------*/ 
.collectionSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.collectionBlock{
  width: 100%;
  display: flex;
  justify-content: center;
  margin:5em 0;
  background: rgb(239,239,239);
  background: linear-gradient(0deg, rgba(239,239,239,1) 0%, #c9a9a6 50%, rgba(239,239,239,1) 100%);
}
.tLcontainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chair{
  width: 30em;
}
.tLcontainer p{
  text-align: justify;
  font-size: 1.3em;
  margin: 1em 0;
  width:40em;
}
.rb{
  display: flex;
  align-items: center;
  gap: 2em;
}

.tCcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -10em 0 0 -35em;
}
.tCtop{
  display: flex;
  align-items: flex-end;
  gap: 2em;
  
}



.tCcontainer h3{
  font-size: 2em;
}
.tCcontainer h1{
  color: #800020;
  font-size: 3em;
}
.tCcontainer p{
  font-size: 2em;
  font-size: 2.5em;
  text-align: justify;
  width: 20em;
  margin:1em 0;

}
.tRcontainer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: -5em 0 0 -10em ;
}
.lilypad{
  width: 15em;
}
.white{
  width: 17em;
  height: 24em;
}


/*------- Carousel Block ---------*/ 
.carousel{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vrmedia-gallery{
  display: flex;
  align-items: center;
  gap: 1em;
  margin:0 4em; 
}
.carousel-gallery{
  display: flex;
  gap: 10px;
}
ul {
  list-style-type: none;
}
.carousel-gallery a span{
  display: flex;
  justify-content: left;
  font-size: 2em;
}
.cImg{
  width: 25em;
}
.collectionBtn{
  display: flex;
  justify-content: center;
  margin: 2em;
}
.collectionBtn button{
  color: #800020;
  font-weight: 600;
  font-size: 32px;
   border: none;
  
}
.collectionBtn .fa-solid {
  font-size: 32px;
}


#four {
  display: none;
}
#five {
  display: none;
}
#six {
  display: none;
}
#seven {
  display: none;
}
#eight {
  display: none;
}
.arrows{
  width: 20px;
}

}
@media(max-width:1180px){ 
 .hBright a{
    font-size: .7em;
 }
 .topHeader{
    position:fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
    padding: 1em;
 }
 .topHeader button{
  font-size: 2em;
  margin: 0 .5em;

 }
 .hBleft {
   margin: 0 1em ;
 }
 .hBleft img{
    width: 8em;
 }
 .hBright {
    margin: 0 1em ;
 }
 .hBright a{
    margin-left: 1.8em;
    text-shadow: .15em 1px 3px #000000;
 }
/*---- BOTTOM HEADER---------*/
 .hTblock{
   margin: 9em;
 }
 .hTitle {
   color: white;
   font-size: 5em;
 }
 .word1{
   width: 2em;
   margin-bottom:-.42em;
 }
 .word2{
   width:6.5em;
   margin-left:1em;
 }
 .h2Title {
   font-size: 4em;
   margin: -1.5em 0 0 4em;
  
 }
 .sBblock button{
   font-size: 1em;
   padding: 1.2em;
   margin: 0em 0 0 30em;
 }
/*------- Intro Block ---------*/
 .introBlock{
    margin:2em;
 }
  .hands{
    width: 20em;
    height: 14em;
    margin-top:18em ;
  }
  .cup{
    width: 28em;
  }
  /*------- Collection Block ---------*/ 
  .collectionSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .collectionBlock{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:5em 0;
    background: rgb(239,239,239);
    background: linear-gradient(0deg, rgba(239,239,239,1) 0%, #c9a9a6 50%, rgba(239,239,239,1) 100%);
  }
  .tLcontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .chair{
    width: 30em;
  }
  .tLcontainer p{
    text-align: justify;
    font-size: 1.3em;
    margin: 1em 0;
    width:40em;
  }
  .rb{
    display: flex;
    align-items: center;
    gap: 2em;
  }
  .tCcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -10em 0 0 -35em;
  }
  .tCtop{
    display: flex;
    align-items: flex-end;
    gap: 2em; 
  }
  .tCcontainer h3{
    font-size: 2em;
  }
  .tCcontainer h1{
    color: #800020;
    font-size: 3em;
  }
  .tCcontainer p{
    font-size: 2em;
    font-size: 2.5em;
    text-align: justify;
    width: 20em;
    margin:1em 0;
  }
  .tRcontainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: -5em 0 0 -10em ;
  }
  .lilypad{
    width: 15em;
  }
  .white{
    width: 17em;
    height: 24em;
  }
  /*------- Carousel Block ---------*/ 
  .carousel{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .vrmedia-gallery{
    display: flex;
    align-items: center;
    gap: 1em;
    margin:0 4em; 
  }
  .carousel-gallery{
    display: flex;
    gap: 10px;
  }
  ul {
    list-style-type: none;
  }
  .carousel-gallery a span{
    display: flex;
    justify-content: left;
    font-size: 2em;
  }
  .cImg{
    width: 25em;
  }
  .collectionBtn{
    display: flex;
    justify-content: center;
    margin: 2em;
  }
  .collectionBtn button{
    color: #800020;
    font-weight: 600;
    font-size: 32px;
     border: none;
    
  }
  .collectionBtn .fa-solid {
    font-size: 32px;
  }
  
  
  #four {
    display: none;
  }
  #five {
    display: none;
  }
  #six {
    display: none;
  }
  #seven {
    display: none;
  }
  #eight {
    display: none;
  }
  .arrows{
    width: 20px;
  }
  
  }